fine_mapping_run*
tests/kottgen/*
fine_mapping_pipeline.egg-info/*
build/*
dist/*
tests/test_data/*
.tox/*
big_test/*
*tbi
big*/*
rs17632159/*
scripts/test_data/*
tests/caviar_data/*
tests/paintor_data/*
tests/finemap_data/*
caviarbf/*
PyParallelShellJobs/*
test/*
tags
tests/*/*
tmem*
{1..8}
EUR.tmp
EAS.tmp
abcg2*
*vcf
kot*
ns*
old*
real_*
rs22*
test.txt
fgwas_ann*
annotate.txt
jupyter/*
