fine_mapping_run*
tests/kottgen/*
fine_mapping_pipeline.egg-info/*
build/*
dist/*
tests/test_data/*
.tox/*
big_test/*
*tbi
big*/*
rs17632159/*
scripts/test_data/*
tests/caviar_data/*
tests/paintor_data/*
tests/finemap_data/*
caviarbf/*
PyParallelShellJobs/*
test/*
tags
